.footer-block {
    width: 100%;
    height: 190px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.information {
    border: solid 1px #E5E5E5;
    display: flex;
    flex-direction: column;

}

.arrival-name,
.departure-name,
.month-name,
.children-name {
    height: 30%;
    font-size: 18px;
    line-height: 16px;
    color: #878787;
    display: flex;
}

.stay-information {
    margin-left: 22%;
    display: flex;
    height: 60px;
}

.arrival-name {
    margin-left: 22%;
    margin-top: 10%;
    text-transform: uppercase;
}

.month-year,
.day {
    margin-left: 20px;
}

.month-year {
    height: 29px;
    font-size: 18px;
    line-height: 20px;
    width: 89px;
}

.footer-img-button {
    width: 20px;
    height: 12.35px;
}

.day {
    text-transform: uppercase;
    font-size: 14px;
    line-height: 16px;
    width: 70px;
    height: 24px;
}

.calendar-button {
    height: 12.35px;
    border: none;
    background: transparent;
    margin-left: 37px;
}

.departure-name {
    margin-left: 22%;
    margin-top: 10%;
    text-transform: uppercase;
}

.dates {
    font-size: 64px;
    line-height: 16px;
}

.arrival-data {
    width: 23%;
    height: 100%;
}

.departure-data {
    width: 23%;
    height: 100%;

}

.month {
    width: 11%;
    height: 100%;
}

.children {
    height: 100%;
}

.children-name {
    margin-top: 19%;
    margin-left: 20%;
    text-transform: uppercase;
    font-size: 18px;
    line-height: 16px;
}

.check-button {
    width: 450px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-button {
    width: 55%;
    height: 25%;
    background-color: #e4c280;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-button-name {
    text-transform: uppercase;
    color: white;
    font-size: 18px;
}

.month-name {
    margin-top: 19%;
    margin-left: 20%;
    text-transform: uppercase;
    font-size: 18px;
    line-height: 16px;
}

.adults {
    margin-left: 65px;
}

.children-amount {
    margin-left: 66px;
    display: flex;
}

.child {
    margin-bottom: 40px;
    width: 38px;
    font-size: 64px;
}

.adults-information {
    display: flex;
    height: 60px;
    align-items: center;
}

.footer-button-choice {
    height: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: none;
    background-color: transparent;
    margin-left: 10%;
}

.footer-button-choice-img,
.footer-button-choice-img2 {
    width: 20px;
    height: 12.35px;
}

.footer-button-choice-img {
    transform: rotate(180deg);
    margin-top: 5%;
}

@media (max-width: 1280px) {
 
    

}