.calendar-sectione {
    height: 190px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.calendar-box {
    width: 90%;
    display: flex;
    flex-direction: row;

}

.calendar-data-box {
    width: 23.5%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.name-calendar-box {
    font-size: 18px;
    line-height: 20px;
    color: #878787;
    text-transform: uppercase;
    width: 52%;
}

.calendar-details {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 65%;
    margin-top: 5%;
}

.calendar-number {
    font-size: 64px;
    line-height: 66px;
}

.month-year {}

.month {
    font-size: 18px;
    line-height: 20px;
}

.day {
    font-size: 14px;
    line-height: 16px;
    margin-top: 5%;
}

.Vector,
.Vector2 {
    width: 20px;
    height: 12.25px;
}

.Vector2 {
    transform: rotate(180deg);
}

.adults-box,
.children-box {
    width: 12%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.name-calendar-box {
    font-size: 18px;
    line-height: 20px;
    color: #878787;
    text-transform: uppercase;
    width: 52%;
}


.amount {
    display: flex;
    align-items: center;
    margin-top: 5%;
}



.selection-buttons,
.selection-buttons2 {
    display: flex;
    flex-direction: column;
    height: 65%;
    justify-content: space-between;
}

.selection-buttons2 {
    margin-left: 20%;
}


.calendar-button-box {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 23.5%;
}

.calendar-button {
    background-color: #E4C280;
    color: white;
    border: none;
    font-size: 18px;
    line-height: 20px;
    text-transform: uppercase;
    width: 60%;
    height: 30%;
}

@media (max-width: 1280px) {

    .name-calendar-box {
        width: 61%;
    }


    .calendar-details {
        width: 85%;
    }

    .calendar-button {
        font-size: 14px;
        line-height: 16px;
    }

    .calendar-button {
        width: 75%;
        height: 22%;
    }
}

@media (max-width: 768px) {
    .name-calendar-box {
        width: 100%;
        font-size: 14px;
        line-height: 16px;
    }

    .amount {
        font-size: 14px;
        line-height: 16px;
    }

    .month {
        font-size: 14px;
        line-height: 16px;
    }

    .none {
        display: none;
    }

    .calendar-box {
        width: 95%;
        justify-content: center;
    }

}

@media (max-width: 325px) {

    .calendar-box {
        flex-wrap: wrap;
    }

    .calendar-data-box {
        width: 48%;
    }

    .adults-box,
    .children-box {
        width: 24%;
    }

    .name-calendar-box {
        font-size: 12px;
        line-height: 16px;
    }

    .calendar-number {
        font-size: 36px;
        line-height: 38px;
    }

    .month {
        font-size: 13px;
        line-height: 20px;
    }

    .day {
        font-size: 11px;
        line-height: 16px;
    }

    .none {
        display: flex;
    }

    .calendar-button-box {
        width: 48%;
    }

    .calendar-button {
        font-size: 12px;
        line-height: 18px;
        width: 82%;
        height: 38%;
    }
}