.hotel-block {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.first-line-hotel {
    margin-top: 3%;
    font-size: 18px;
    line-height: 20px;
    color: #E4C280;
    text-transform: uppercase;
    text-align: center;
}

.second-line-hotel {
    margin-top: 4%;
    font-size: 48px;
    line-height: 50px;
    text-align: center;
}

.third-line-hotel {
    margin-top: 2%;
    width: 40%;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #878787;
}

.hotel-gallery {
    margin-top: 3%;
    width: 99%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.hotel-img {
    width: 25%;
    display: flex;
    flex-direction: column;
    background-color: #F6F6F6;
}

.gallery-border {
    background-color: black;
}


.line-title {
    margin-top: 2%;
    font-size: 36px;
    line-height: 64px;
    text-align: center;
}

.line-text {
    width: 60%;
    font-size: 14px;
    line-height: 20px;
    color: #878787;
    margin-left: 20%;
}


.footer-line-text {
    margin-top: 11%;
    color: #E4C280;
    font-size: 18px;
    line-height: 20px;
    margin-left: 20%;
    margin-bottom: 5%;
}

@media (max-width: 1680px) {

    .second-line-hotel {
        margin-top: 3%;
    }
}

@media (max-width: 1280px) {

    .first-line-hotel {
        font-size: 14px;
        line-height: 16px;
    }

    .second-line-hotel {
        font-size: 38px;
        line-height: 40px;
    }

    .third-line-hotel {
        font-size: 14px;
        line-height: 24px;
    }

    .line-title {
        font-size: 24px;
        line-height: 64px;
    }

    .line-text {
        font-size: 12px;
        line-height: 20px;
    }

    .footer-line-text {
        font-size: 14px;
        line-height: 16px;
    }

}

@media (max-width: 1024px) {
    .third-line-hotel {
        width: 50%;
    }
}

@media (max-width: 768px) {

    .second-line-hotel {
        font-size: 36px;
        line-height: 40px;

    }

    .third-line-hotel {
        width: 90%;
    }

    .line-title {
        font-size: 18px;
        line-height: 20px;
    }

    .hotel-img {
        margin-top: 4%;
    }

    .line-text {
        font-size: 10px;
        line-height: 15px;
        width: 80%;
        margin-top: 10%;
    }

    .footer-line-text {
        font-size: 12px;
        line-height: 16px;
    }
}

@media (max-width:475px) {
    .third-line-hotel {
        font-size: 13px;
    }

    .line-title {
        font-size: 13px;
    }

    .line-text {
        font-size: 9px;
        line-height: 14px;
    }
}

@media (max-width: 325px) {


    .first-line-hotel {
        display: none;
    }

    .second-line-hotel {
        font-size: 24px;
        line-height: 26px;
    }

    .third-line-hotel {
        font-size: 10px;
        line-height: 12px;
    }

    .hotel-gallery {
        flex-direction: column;
        width: 100%;
        align-items: center;
    }

    .hotel-img {
        width: 80%;
        height: auto;
    }

}