.advateges-block {
    margin-top: 5%;
    width: 100%;
    height: 800px;
    background-image: url(/study_ann/img/Rectangle\ 29.png);
    display: flex;
    flex-direction: column;

}

.title-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 33.33%;
}

.first-line-title {
    color: #E4C280;
    width: 314px;
    font-size: 18px;
    line-height: 16px;
    margin-top: 69px;
    text-transform: uppercase;

}

.second-line-title {
    width: 357px;
    font-size: 48px;
    color: white;
    margin-top: 3%;
}

.description-box {
    width: 100%;
    height: 50%;
    display: flex;
    flex-wrap: wrap;
}

.description-img {
    width: 50px;
    height: 50px;
    margin-left: 4%;
}

.text {
    width: 77%;
    color: white;
}

.nomination {
    font-size: 18px;
    text-transform: uppercase;
}

.exposition {
    font-size: 16px;
    line-height: 20px;
    margin-top: 3%;
    color: #878787;
}



.card-block,
.calendar-block,
.clock-block {
    width: 30%;
    display: flex;
    justify-content: space-between;
}

.second-line-description {
    height: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

}

.wi-fi-block,
.events-block,
.phone-block {
    width: 30%;
    display: flex;
    justify-content: space-between;
}

.rooms-block {
    height: 1080px;
    background-color: #F6F6F6;
    display: flex;
    flex-direction: column;
    align-items: center;
}



.room-title-text {
    height: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.first-room-text {
    margin-top: 5%;
    font-size: 18px;
    text-transform: uppercase;
    color: #E4C280;
}

.second-room-text {
    font-size: 48px;
    margin-top: 1%;
}

ul {
    margin-top: 5%;
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
}

li {
    text-transform: uppercase;
    font-size: 18px;
    color: #E4C280;
    line-height: 20px;
    margin-top: 1%;
    margin: 0 2%;
}


.presentation-photo-box {
    width: 50%;
    display: flex;
    justify-content: end;
    align-items: center;
}

.presentation-photo {
    width: 80%;
    height: 100%;
}

.room-photo {
    height: 55%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.room-presentation {
    width: 50%;
    display: flex;
    justify-content: start;
    align-items: center;
}

.room-presentation-text {
    width: 80%;
    height: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;

}

.presetation-title {
    font-size: 48px;
    margin-top: 12%;
    margin-left: 16%;
}

.presentation-text {
    font-size: 14px;
    line-height: 20px;
    width: 60%;
    margin-top: 4%;
    margin-left: 16%;
}

.room-choise-button {
    height: 12%;
    width: 70%;
    margin-top: 5%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.detalis-button {
    background-color: #878787;
}

.book-now-button {
    background-color: #E4C280;
}

.detalis-button,
.book-now-button {
    width: 30%;
    height: 100%;
    margin-left: 7%;
    border: none;
    text-transform: uppercase;
    color: white;
    font-size: 18px;
}

.room-gallery {
    width: 60%;
    height: 16%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.photo-gallery {
    width: 25%;
    display: flex;
    align-items: center;
}

