.advateges-block {
    margin-top: 5%;
    width: 100%;
    height: 800px;
    background-image: url(/study_ann/img/Rectangle\ 29.png);
    display: flex;
    flex-direction: column;
    background-size: cover;

}

.title-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 33.33%;
}

.first-line-title {
    color: #E4C280;
    font-size: 18px;
    line-height: 16px;
    margin-top: 69px;
    text-transform: uppercase;

}

.second-line-title {
    font-size: 48px;
    color: white;
    margin-top: 3%;
}

.description-box {
    width: 100%;
    height: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.description-img {
    width: 50px;
    height: 40px;
    margin-left: 4%;
}

.text {
    width: 77%;
    color: white;
}

.nomination {
    font-size: 18px;
    text-transform: uppercase;
}

.exposition {
    font-size: 16px;
    line-height: 20px;
    margin-top: 3%;
    color: #878787;
}



.card-block,
.calendar-block,
.clock-block {
    width: 30%;
    display: flex;
    justify-content: space-between;
}

.second-line-description {
    height: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

}

.wi-fi-block,
.events-block,
.phone-block {
    width: 30%;
    display: flex;
    justify-content: space-between;
}

.rooms-block {
    height: 1080px;
    background-color: #F6F6F6;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.room-photo-and-text-border {
    position: absolute;
    height: 80%;
    top: 19%;
    width: 77%;
    border: solid 0.5px #878787;
}

.room-title-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.first-room-text {
    margin-top: 2%;
    font-size: 18px;
    text-transform: uppercase;
    color: #E4C280;
}

.second-room-text {
    font-size: 48px;
    margin-top: 1%;
}

ul {
    margin-top: 1%;
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 50%;
    justify-content: center;
}

li {
    text-transform: uppercase;
    font-size: 18px;
    color: #E4C280;
    line-height: 20px;
    margin-top: 1%;
    margin: 0 2%;
}



.room-photo-and-text-box {
    margin-top: 3%;
    width: 100%;
    height: 55%;
    display: flex;
    justify-content: center;
    z-index: 9;
}

.room-photo-and-text {
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.room-title-text2 {
    width: 50%;
    height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: start;
    justify-content: center;
    background-color: white;
}

.room-photo {
    width: 50%;
    display: flex;
    justify-content: end;
}

.room-img {
    width: 90%;

}

.room-text {
    margin-top: 3%;
    font-size: 14px;
    line-height: 20px;
    width: 50%;
    margin-left: 10%;
}

.room-title {
    margin-top: 5%;
    font-size: 48px;
    line-height: 50px;
    margin-left: 10%;

}

.room-gallery {
    width: 60%;
    height: 16%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.photo-gallery {
    width: 25%;
    display: flex;
    align-items: center;
}

.choice {
    display: flex;
    flex-direction: row;
    margin-top: 5%;
    height: 12%;
    width: 100%;
}

.first-choice-button,
.second-choice-button {
    width: 22%;
    font-size: 18px;
    line-height: 20px;
    color: white;
    border: none;
}

.first-choice-button {
    margin-left: 10%;
    background-color: #878787;
}

.second-choice-button {
    margin-left: 2%;
    background-color: #E4C280;
}




@media (max-width: 1680px) {

    .exposition {
        width: 90%;
    }

    .room-type {

        margin-left: 3%;
    }
}

@media (max-width:1440px) {

    .room-img {
        width: 100%;
    }


    .room-gallery {
        width: 70%;
    }

    .room-photo-and-text-border {
        top: 15%;
    }
}


@media (max-width: 1280px) {
    .advateges-block {
        width: 100%;
    }

    .first-line-title {
        font-size: 14px;
        line-height: 16px;
    }

    .second-line-title {
        font-size: 36px;
        line-height: 38px;
    }

    .photo-gallery {
        align-items: flex-start;
    }

    .room-photo-and-text-box {
        height: 50%;
    }

    .room-type {
        font-size: 14px;
        line-height: 16px;
    }

    .rooms-block {
        height: 850px;
    }

    ul {
        justify-content: center;
    }

    li {
        font-size: 14px;
        line-height: 16px;
    }

    .detalis-button,
    .book-now-button {
        margin-right: 3%;
        font-size: 18px;
    }

    .presetation-title {
        margin-left: 12%;
    }

    .presentation-text {
        width: 84%;
        margin-top: 4%;
        margin-left: 12%;
    }

    .room-choise-button {
        justify-content: start;
        margin-left: 12%;
    }

    .room-gallery {
        width: 80%;
        align-items: center;
    }

    .photo-gallery {
        align-items: center;
        justify-content: center;
        width: 15%;
    }

    .room-type {
        font-size: 16px;
    }

    .room-text {
        width: 70%;
    }

    .room-photo-and-text-border {
        top: 19%;
    }

}

@media (max-width: 1024px) {

    .room-type {
        transform: rotate(180deg);
        height: 80px;
        text-align: start;
        writing-mode: vertical-lr;
    }

    .first-choice-button, .second-choice-button {
        width: 30%;}

        .room-photo-and-text-border {
            top: 17%;
        }

}

@media (max-width: 768px) {

    .advateges-block {
        align-items: center;
        height: auto;
    }

    .card-block,
    .calendar-block,
    .clock-block {
        width: 34%;
        margin-bottom: 10%;
    }

    .wi-fi-block,
    .events-block,
    .phone-block {
        width: 34%;
        margin-bottom: 5%;
    }

    .description-box {
        width: 90%;
        margin-top: 5%;
        justify-content: space-around;
    }


    .text {
        margin-left: 7%;
    }

    .exposition {
        margin-top: 15%;
    }

    .card-block {
        order: 0;
    }

    .calendar-block {
        order: 4;
    }

    .clock-block {
        order: 1;
    }

    .wi-fi-block {
        order: 2;
    }

    .events-block {
        order: 5;
    }

    .phone-block {
        order: 3;
    }

    .room-type {
        transform: rotate(180deg);
        height: 80px;
        text-align: start;
        writing-mode: vertical-lr;
    }

    .first-room-text {
        font-size: 14px;
        line-height: 16px;
    }

    .second-room-text {
        font-size: 36px;
        line-height: 38px;
    }

    .room-title-text {
        height: 14%;
    }

    ul {
        width: 95%;
    }

    .room-presentation-text {
        justify-content: center;
    }

    .room-title {
        font-size: 36px;
        line-height: 38px;
    }

    .room-text {
        font-size: 12px;
        line-height: 15px;
        width: 55%;
    }


    .first-choice-button,
    .second-choice-button {
        width: 42%;
        height: 87%;
    }

    .room-gallery-photo,
    .room-gallery-photo2 {
        width: 52px;
        height: 113px;
    }

    .photo-gallery {
        justify-content: space-evenly;
    }

    .rooms-block {
        height: 1024;
    }

    .room-photo {
        overflow: hidden;
    }

    .room-img {
        transform: scale(1.6, 1.3);
        margin-top: 14%;
    }

    .room-photo-and-text-border {
        top: 15%;
    }
}

@media (max-width:425px) {

    .card-block, .calendar-block, .clock-block {
        width: 50%;
    }

    .wi-fi-block, .events-block, .phone-block {
        width: 50%;
    }

    .rooms-block {
        height: 720px;
    }

    .second-room-text {
        font-size: 32px;
        line-height: 34px;
    }

    ul {
        width: 100%;
    }

    li {
        font-size: 13px;
    }

    .room-text {
        width: 90%;
    }

    .room-gallery {
        margin-top: 10%;
    }

    .room-img {
        transform: scale(2.9, 1.3);
    }
}

@media (max-width: 375px) {

    .room-type {
        font-size: 9px;
    }

    .first-line-title {
        font-size: 12px;
        line-height: 16px;
    }

    .second-line-title {
        margin-top: 10%;
        font-size: 24px;
        line-height: 20px;
    }

    .description-box {
        margin-top: 10%;
        flex-direction: column;
        width: 90%;
    }

    .wi-fi-block,
    .events-block,
    .phone-block,
    .card-block,
    .calendar-block,
    .clock-block {
        width: 100%;
        margin-top: 5%;
    }

    .card-block {
        order: 1;
    }

    .calendar-block {
        order: 2;
    }

    .clock-block {
        order: 3;
    }

    .wi-fi-block {
        order: 0;
    }

    .events-block {
        order: 5;
    }

    .phone-block {
        order: 4;
    }

    .nomination {
        font-size: 9px;
        line-height: 16px;
    }

    .exposition {
        font-size: 9px;
        line-height: 16px;
        margin-top: 5%;
    }

    .rooms-block {
        height: 715px;
    }


    .first-room-text {
        margin-top: 3%;
        font-size: 12px;
        line-height: 16px;
    }

    .second-room-text {
        margin-top: 3%;
        font-size: 18px;
        line-height: 20px;
    }

    li {
        font-size: 9px;
        line-height: 16px;
    }

    .room-title-text {
        height: 8%;
    }

    .room-photo-and-text-box {
        flex-direction: column;
        width: 100%;
        height: 60%;
        margin-top: 5%;
        align-items: center;
    }

    .room-photo-and-text {
        height: 100%;
        width: 90%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .room-photo,
    .room-title-text2 {
        width: 100%;
        height: 50%;
    }

    .room-photo {
        margin-top: 5%;
    }


    .room-title {

        font-size: 14px;
        line-height: 20px;
    }

    .room-text {
        font-size: 9px;
        line-height: 10px;
        width: 67%;
    }

    .presentation-photo-box {
        height: 50%;
        width: 100%;
        justify-content: center;
    }

    .room-presentation {
        width: 90%;
        justify-content: center;
    }

    .room-gallery-photo, .room-gallery-photo2 {
        width: 22px;
        height: 90px;
    }

    .first-choice-button, .second-choice-button {
        font-size: 12px;
        line-height: 16px;
        width: 30%;
    }

    .choice {
        height: 15%;
    }

    .room-img {
        transform: scale(1, 1.3);
    }

    .room-photo-and-text-border {
        top: 11%;
    }


}