.blog-box {
    height: 1080px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    background-color: #F6F6F6;
    align-items: center;
    position: relative;

}

.blog-first-line {
    text-align: center;
    color: #E4C280;
    font-size: 18px;
    line-height: 20px;
    margin-top: 2%;
}

.blog-title {
    text-align: center;
    color: black;
    font-size: 48px;
    line-height: 50px;
    margin-top: 2%;
}

.picture-and-description {
    margin-top: 2%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.first-blog,
.second-blog,
.third-blog {

    width: 25%;
    display: flex;
    flex-direction: column;
}



.blog-description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    z-index: 9;
}

.event-date,
.blog-details {
    margin-top: 2%;
    font-size: 18px;
    line-height: 20px;
    text-align: center;
}

.event-date {
    color: #878787;

}

.blog-details {
    color: #E4C280;
    margin-left: 2%;
}

.event-title {
    font-size: 36px;
    line-height: 64px;
    text-align: start;
    margin-top: 4%;
    margin-left: 14%;
    width: 80%;
}

.event-text {
    width: 80%;
    font-size: 14px;
    line-height: 20px;
    color: #878787;
    text-align: start;
    margin: 4% 14%;
}

.evett-details {
    margin-top: 2%;
    font-size: 18px;
    line-height: 20px;
    color: #E4C280;
    text-align: start;
    width: 80%;
    margin: 4% 14%;
    text-transform: uppercase;
}

.blog-button {
    margin-top: 7%;
    background-color: #878787;
    color: white;
    font-size: 18px;
    line-height: 20px;
    border: none;
    width: 12%;
    height: 5%;
    text-transform: uppercase;

}

.blog-border1,
.blog-border2,
.blog-border3 {
    position: absolute;
    border: solid 0.5px #878787;
    border-image: linear-gradient(to bottom, #F6F6F6, #878787) 1;

}

.blog-border1 {
    width: 21%;
    position: absolute;
    height: 65%;
    left: 8%;
    top: 20%;
}

.blog-border2 {
    width: 21%;
    position: absolute;
    height: 65%;
    left: 39%;
    top: 20%;
}

.blog-border3 {
    width: 21%;
    position: absolute;
    height: 65%;
    top: 20%;
    right: 8%;
}

@media (max-width: 1900px) {

    .blog-border1,
    .blog-border2,
    .blog-border3 {
        height: 62%;
    }
}

@media (max-width: 1680px) {

    .blog-border1,
    .blog-border2,
    .blog-border3 {
        height: 56%;
    }
}


@media (max-width: 1440px) {

    .event-title {
        font-size: 33px;
    }

    .blog-border1,
    .blog-border2,
    .blog-border3 {
        height: 49%;
        top: 16%;
    }
}


@media (max-width: 1280px) {
    .blog-box {
        height: 850px;
    }

    .blog-first-line {
        font-size: 14px;
        line-height: 16px;
    }

    .blog-title {
        font-size: 36px;
        line-height: 38px;
    }

    .event-date,
    .blog-details {
        font-size: 14px;
        line-height: 16px;
    }

    .event-title {
        font-size: 24px;
        line-height: 64px;
    }

    .event-text {
        font-size: 12px;
        line-height: 20px;
    }

    .evett-details {
        font-size: 14px;
        line-height: 16px;
    }

    .blog-button {
        font-size: 14px;
        line-height: 16px;
    }

    .blog-border1,
    .blog-border2,
    .blog-border3 {
        height: 60%;
        top: 18%;
    }
}

@media (max-width:1220px) {

    .blog-border1,
    .blog-border2,
    .blog-border3 {
        top: 17%;
    }
}

@media (max-width:1100px) {

    .blog-border1,
    .blog-border2,
    .blog-border3 {
        height: 55%;
    }
}


@media (max-width: 1024px) {

    .blog-button {

        width: 15%;
    }

    .event-title {
        font-size: 17px;
    }

    .blog-border1,
    .blog-border2,
    .blog-border3 {
        height: 52%;
    }

}

@media (max-width: 768px) {

    .blog-box {
        height: 768px;
    }

    .event-date {
        display: flex;
        flex-direction: column;
    }

    .event-date,
    .blog-details {
        font-size: 12px;
        line-height: 16px;
        text-align: end;
        margin-right: 5%;
        width: 95%;
    }

    .event-title {
        font-size: 18px;
        line-height: 64px;
    }

    .event-text {
        font-size: 10px;
        line-height: 15px;
    }

    .evett-details {
        font-size: 12px;
        line-height: 16px;
    }

    .blog-button {
        width: 23%;
        height: 6%;
    }
}

@media (max-width:475px) {

    .blog-box {
        height: auto;
    }

    .picture-and-description {
        flex-direction: column;
        align-items: center;
    }

    .first-blog,
    .second-blog,
    .third-blog {
        width: 100%;
        margin-top: 15%;
    }

    .blog-button {
        width: 29%;
        margin-bottom: 5%;
        height: 45px;
    }

    .blog-border1 {
        top: 8%;
        width: 90%;
        left: 5%;
        height: 28%;
    }
    
    .blog-border2 {
        width: 90%;
        left: 5%;
        height: 28%;
        top: 39%;
    }
    
    .blog-border3{
        width: 90%;
        top: 70%;
        left: 5%;
        height: 28%;
    }
}

@media (max-width: 325px) {

    .blog-box {
        height: 1577px;
    }

    .blog-first-line {
        font-size: 12px;
        line-height: 16px;
    }

    .blog-title {
        font-size: 18px;
        line-height: 20px;
    }

    .picture-and-description {
        flex-direction: column;
        width: 100%;
        align-items: center;
        margin-top: 7%;
    }

    .first-blog,
    .second-blog,
    .third-blog {
        width: 90%;
    }

    .second-blog,
    .third-blog {
        margin-top: 15%;
    }

    .event-date {
        margin-top: 5%;
        width: 90%;
    }

    .event-title {
        margin-top: 0;
    }

    .event-text {
        margin-top: 0%;
    }

    .blog-button {
        width: 54%;
        height: 3.1%;
    }
}