.blog-box {
    background-color: #F6F6F6;
    height: 1080px;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.blog-title {
    margin-top: 3%;
    font-size: 18px;
    color: #E4C280;
}

.blog-name {
    margin-top: 2%;
    font-size: 48px;
    line-height: 50px;
}

.blog-gallery {
    margin-top: 4%;
    width: 100%;
}

.blog-photo {
    display: flex;
    justify-content: space-evenly;
}

.blog-img {
    width: 23.3%;
}

.blog-discription {
    display: flex;
    justify-content: space-evenly;
}

.text-description {
    width: 23.5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
}

.event-date, .event-date-details {
    font-size: 18px;
    line-height: 20px;
    color: #878787;
    text-align: center;
    margin-top: 2%;

}

.event-date-details {
    color: #E4C280;
}

.title-text {
    margin-top: 5%;
    font-size: 36px;
    line-height: 64px;
}

.blog-text {
    width: 60%;
    margin-top: 4%;
    font-size: 14px;
    line-height: 20px;
    color: #878787;
}

.footer-text {
    color: #E4C280;
    font-size: 18px;
    line-height: 20px;
    text-align: start;
    width: 60%;
    margin-top: 5%;
    margin-bottom: 5%;
}

.blog-button {
    margin-top: 5%;
    height: 5%;
    background-color: #878787;
    width: 11%;
    border: none;
    color: white;
    font-size: 18px;
    text-transform: uppercase;
}