.hotel-gallery-block {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hotel-gallery-text {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.explore-text {
    margin-top: 34px;
    color: #E4C280;
    height: 52px;
    text-transform: uppercase;
    font-size: 18px;
    line-height: 16px;
    text-align: center;
}

h2 {
    text-transform: uppercase;
    height: 60px;
    font-size: 48px;
    line-height: 20px;
    text-align: center;
}

.hotel-text {
    text-align: center;
    height: 92px;
    font-size: 16px;
    line-height: 24px;
    color: #878787;
}

.gallery-pictures {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    position: relative;
}

.spa-img,
.bar-img,
.special-offers-img {
    margin-top: 3%;
    height: 88%;
    width: 23%;

}

.spa-icon {
    height: 642px;
    width: 450px;
    border: #878787 solid 0.5px;
    position: absolute;
    left: 5%;
    top: 4%;
}



.bar-icon {
    height: 642px;
    width: 450px;
    border: #878787 solid 0.5px;
    position: absolute;
    left: 36%;
    top: 4%;

}

.special-offers-icon {
    height: 642px;
    width: 450px;
    border: #878787 solid 0.5px;
    position: absolute;
    left: 67%;
    top: 4%;
}

.picture-description {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.spa-description,
.bar-description,
.spesial-offers-description {
    width: 23%;
    height: 100%;
    background-color: #F6F6F6;
    display: flex;
    flex-direction: column;

}



.spa {
    margin-top: 8%;
    height: 38px;
    font-size: 36px;
    line-height: 20px;
    margin-left: 11%;
}

.spa-text {
    text-align: start;
    margin-top: 2%;
    width: 80%;
    height: 92px;
    font-size: 14px;
    line-height: 20px;
    color: #878787;
    margin-left: 10%;
}

.end-discription {
    margin-top: 12px;
    margin-left: 45px;
    width: 145px;
    height: 24px;
    font-size: 18px;
    line-height: 16px;
    color: #E4C280;
}

.bar {
    height: 36px;
    font-size: 36px;
    line-height: 20px;
    margin-top: 7%;
    margin-left: 7%;
}

.bar-text {
    width: 80%;
    height: 92px;
    font-size: 14px;
    line-height: 20px;
    color: #878787;
    margin-left: 7%;
}

.offers {
    height: 42px;
    font-size: 36px;
    line-height: 20px;
    margin-top: 7%;
    margin-left: 45px;
}

.offers-text {
    width: 80%;
    height: 92px;
    font-size: 14px;
    line-height: 20px;
    color: #878787;
    margin-left: 10%;
}