* {
    margin: 0;
    padding: 0;
    font-family: Helvetica;
}
.front-page { 
    height: 1080px;
    width: 1920px;
    background-image: url(/study_ann/img/Facade.png);
    background-size: 1920px, 1080px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.main-menu-block { 
    width: 1920px;
    height: 130px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}

.burger-menu-box {
    width: 33%;
    height: 40px;
    margin-top: 45px;
    margin-bottom: 45px;
    margin-left: 57px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.burger-menu-button {
    width: 33.33px;
    height: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
 
 span{
     background-color: white;
     width: 100%;
     height: 20%;
 }

 .menu-text-box {
     width: 56px;
     height: 16px;
     display: flex;
     align-items: center;
     margin-left: 2%;
 }

.menu-text {
    color: white;
    font-family: Helvetica;
    font-size: 18px;
    line-height: 16px;
    letter-spacing: 0.75px;
 }

.title-img-box { 
    width: 33%;
    display: flex;
    justify-content: center;
    margin-right: 3%;
}

.title {
    width: 230px;
    height: 105px;
 }

.senttings-block { 
    height: 100%;
    width: 33%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.search-icon {
    margin-right: 3%;
 }

.search-img {
    width: 40px;
    height: 40px;
}

.language-icon { 
    width: 65px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-right: 5%;

}

.language {
    color: white;
    font-family: Helvetica;
    font-size: 18px;
    line-height: 16px;
    letter-spacing: 0.75px;
}

.language-menu {
    width: 10px;
    height: 4.81px;
    cursor: pointer;
}

.heder-button { 
    width: 180px;
    height: 70px;
    background-color: #E4C280;
    border: none;
    margin-right: 8%;
    cursor: pointer;
}

.name-heder-button {
    color: white;
    font-family: Helvetica;
    font-size: 18px;
    line-height: 16px;
    letter-spacing: 0.75px;
}

.text-box {
    width: 639px;
    height: 390px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-top: 20%;
}



.first-line-trxt { 
    text-transform: uppercase;
    width: 470px;
    height: 20px;
    font-family: Helvetica;
    font-size: 18px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.75px;
    color: white;
    margin-top: 1%;
}

.second-line-text {
    text-transform: uppercase;
    width: 639px;
    height: 66px;
    Font-family: Helvetica;
    font-size: 48px;
    line-height: 16px;
    color: white;
    letter-spacing: 0.75px;
    margin-top: 10%;

 }

.front-page-button {
    width: 220px;
    height: 50px;
    background-color: #E4C280;
    border: none;
    margin-top: 4%;
    cursor: pointer;
 }

.name-front-page-button { 
    text-transform: uppercase;
    Font-family: Helvetica;
    font-size: 18px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.75px;
    color: white;
}
.arrow {
    width: 25px;
    height: 19px;
    margin-top: 22%;
    cursor: pointer;
}

.footer-block {
    width: 100%;
    height: 190px;
    background-color: beige;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.arrival-data { 
    width: 450px;
    height: 100%;
}

.departure-data { 
    width: 450px;
    height: 100%;
}

.month { 
    width: 224px;
    height: 100%;
}

.children { 
    width: 225px;
    height: 100%;
}

.check-button { 
    width: 450px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-button {
    width: 242px;
    height: 45px;
    color: #E4C280;
    border: none;
 }


.welcome-page-block {
    width: 100%;
    height: 890px;
    display: flex;
    flex-direction: row;
    background-color: #F6F6F6;
 }

.welcome-text-box { 
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    text-align: start;
}

.greetings-text {
    width: 406px;
    height: 52px;
    text-transform: uppercase;
    Font-family: Helvetica;
    font-size: 18px;
    line-height: 16px;
    letter-spacing: 0.75px;
    color: #E4C280;
    margin-top: 186px;
    margin-left: 151px;
 }
 
 h1 {
     width: 640px;
     height: 60px;
     Font-family: Helvetica;
     font-size: 48px;
     line-height: 20px;
     letter-spacing: 0.25px;
     margin-left: 151px;

 }

.first-paragraph { 
    margin-top: 60px;
    margin-left: 151px;
    width: 480px;
    height: 46px;
    text-transform: uppercase;
    Font-family: Helvetica;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.75px;
    
}

.second-paragraph {
    Font-family: Helvetica;
    color: #878787;
    margin-top: 6px;
    margin-left: 149px;
    width: 490px;
    height: 140px;
    font-size: 18px;
    line-height: 20px;
    letter-spacing: 0.25px;
 }

.signature-img {
    width: 182px;
    height: 88.17px;
    margin-top: 50px;
    margin-left: 153px;
 }

.signature {
    Font-family: Helvetica;
    color: #878787;
    margin-left: 192px;
    width: 119px;
    height: 20px;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.25px;
 }

.welcom-img-box { 
    display: flex;
    align-items: center;
    justify-content: center;

}
.icon {
    width: 727px;
    height: 540px;
    border: #878787 solid 0.5px;
    position: relative;
    right: 7%;
    top: 5%;
}

.icon-img {
    width: 727px;
    height: 540px;
    position: absolute;
}

.hotel-gallery-block {
    width: 100%;
    height: 1080px;
    display: flex;
    flex-direction: column;
    align-items: center;
 }

.hotel-gallery-text {
    display: flex;
    align-items: center;
    flex-direction: column;
 }

.explore-text {
    margin-top: 34px;
    color: #E4C280;
    width: 272px;
    height: 52px;
    letter-spacing: 0.75px;
    text-transform: uppercase;
    Font-family: Helvetica;
    font-size: 18px;
    line-height: 16px;
    text-align: center;
 }

 h2{
    text-transform: uppercase;
    Font-family: Helvetica;
    width: 413px;
    height: 60px;
    font-size: 48px;
    line-height: 20px;
    letter-spacing: 0.25px;
    text-align: center;
 }

.hotel-text { 
    text-align: center;
    width: 729px;
    height: 92px;
    font-size: 16px;
    line-height: 24px;
    color: #878787;
}

.gallery-pictures {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    position: relative;
 }

.spa-img, .bar-img, .special-offers-img  {
    margin-top: 59px;
    height: 395px;
    width: 450px;
    
 }

 .spa-icon{
    height: 642px;
    width: 450px;
    border: #878787 solid 0.5px;
    position: absolute;
    left: 5%;
    top: 4%;
 } 
 
 .bar-icon {
    height: 642px;
    width: 450px;
    border: #878787 solid 0.5px;
    position: absolute;
    left: 36%;
    top: 4%;

 }

 .special-offers-icon {
    height: 642px;
    width: 450px;
    border: #878787 solid 0.5px;
    position: absolute;
    left: 67%;
    top: 4%;
 }

 .picture-description { 
     width: 100%;
     display: flex;
     flex-direction: row;
     justify-content: space-evenly;
 }

.spa-description, .bar-description, .spesial-offers-description {
    width: 450px;
    height: 247px;
    background-color: #F6F6F6;
    display: flex;
    flex-direction: column;

 }



 .spa {
     margin-top: 34px;
     width: 253px;
     height: 38px;
     font-size: 36px;
     line-height: 20px;
     margin-left: 45px;
 }
.spa-text { 
    text-align: start;
    margin-top: 12px;
    width: 362px;
    height: 92px;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.25px;
    color: #878787;
    margin-left: 45px;
}
.end-discription { 
    margin-top: 12px;
    margin-left: 45px;
    width: 145px;
    height: 24px;
    font-size: 18px;
    line-height: 16px;
    letter-spacing: 0.75px;
    color: #E4C280;
}

.bar {
    width: 320px;
    height: 36px;
    font-size: 36px;
    line-height: 20px;
    letter-spacing: 0.25px;
    margin-top: 34px;
    margin-left: 45px;
}

.bar-text {
    width: 360px;
    height: 92px;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.25px;
    color: #878787;
    margin-left: 45px;
 }

 .offers {
     width: 232px;
     height: 42px;
     font-size: 36px;
     line-height: 20px;
     letter-spacing: 0.25px;
     margin-top: 34px;
     margin-left: 45px;
 }

.offers-text {
    width: 365px;
    height: 92px;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.25px;
    color: #878787;
    margin-left: 45px;
 }


