* {
    margin: 0;
    padding: 0;
    font-family: Helvetica;
}
.front-page { 
    height: 1080px;
    width: 1920px;
    background-image: url(/study_ann/img/Facade.png);
    background-size: 1920px, 1080px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.main-menu-block { 
    width: 1920px;
    height: 130px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}

.burger-menu-box {
    width: 33%;
    height: 40px;
    margin: 45px 57px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.burger-menu-button {
    width: 33.33px;
    height: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
 
 span{
     background-color: white;
     width: 100%;
     height: 20%;
 }

 .menu-text-box {
     width: 56px;
     height: 16px;
     display: flex;
     align-items: center;
     margin-left: 2%;
 }

.menu-text {
    color: white;
    font-size: 18px;
    line-height: 16px;
 }

.title-img-box { 
    width: 33%;
    display: flex;
    justify-content: center;
    margin-right: 3%;
}

.title {
    width: 230px;
    height: 105px;
 }

.senttings-block { 
    height: 100%;
    width: 33%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.search-icon {
    margin-right: 3%;
 }

.search-img {
    width: 40px;
    height: 40px;
}

.language-icon { 
    width: 65px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-right: 5%;

}

.language {
    color: white;
    font-size: 18px;
    line-height: 16px;
}

.language-menu {
    width: 10px;
    height: 4.81px;
    cursor: pointer;
}

.heder-button { 
    width: 180px;
    height: 70px;
    background-color: #E4C280;
    border: none;
    margin-right: 8%;
    cursor: pointer;
}

.name-heder-button {
    color: white;
    font-size: 18px;
    line-height: 16px;
}

.text-box {
    width: 639px;
    height: 390px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-top: 20%;
}



.first-line-text { 
    text-transform: uppercase;
    width: 470px;
    font-size: 18px;
    line-height: 16px;
    text-align: center;
    color: white;
    margin-top: 1%;
}

.second-line-text {
    text-transform: uppercase;
    width: 639px;
    height: 66px;
    font-size: 48px;
    line-height: 16px;
    color: white;
    margin-top: 10%;
 }

.front-page-button {
    width: 220px;
    height: 50px;
    background-color: #E4C280;
    border: none;
    margin-top: 4%;
    cursor: pointer;
 }

.name-front-page-button { 
    text-transform: uppercase;
    font-size: 18px;
    line-height: 16px;
    text-align: center;
    color: white;
}
.arrow {
    width: 25px;
    height: 19px;
    margin-top: 22%;
    cursor: pointer;
}



